@page
@model ProyectoCiclo3.App.Frontend.Pages.DetailsBusModel
@{
    var bus = Model.Bus;
}
 
<ul class="list-group list-group-flush">
  <li class="list-group-item"> <b>id: </b> @bus.id</li>
  <li class="list-group-item"> <b>Nombre: </b> @bus.marca</li>
  <li class="list-group-item"> <b>Direccion: </b> @bus.modelo</li>
    <li class="list-group-item"> <b>Direccion: </b> @bus.kilometraje</li>
  <li class="list-group-item"><b>Coordenada X: </b> @bus.numero_asientos</li>
  <li class="list-group-item"><b>Coordenada Y: </b> @bus.placa</li>
</ul>	