@page
@model ProyectoCiclo3.App.Frontend.Pages.EditBusModel
@{
    var bus = Model.Bus;
}
 
<div class="text-center">
<form method="POST">
        <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@bus.id" readonly>
        <label for="marca" class = "form-label">Marca:</label>
        <input type="text" class="form-control" required placeholder="Marca" minlength="3" asp-for="@bus.marca">
        <span class="text-danger" asp-validation-for="Bus.marca"></span> <br>
        <label for="modelo" class="form-label">Modelo:</label>
        <input type="number" class="form-control" required placeholder="Modelo" asp-for="@bus.modelo" step="any">
        <label for="kilometraje" class="form-label">Kilometraje:</label>
        <input type="number" class="form-control" required placeholder="Kilometraje" asp-for="@bus.kilometraje" step="any">
        <label for="numero_asientos" class="form-label">Numero de Asientos:</label>
        <input type="number" class="form-control" required placeholder="Numero de Asientos" asp-for="@bus.nro_asientos" step="any">
        <label for="placa" class="form-label">Placa:</label>
        <input type="text" class="form-control" required placeholder="Placa" asp-for="@bus.placa" step="any">

  <hr>
  <button type="submit" class="btn btn-success">Actualizar</button>
</form>
</div>